@charset "UTF-8";

* {
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: calibri, sans-serif;
}

body {
	background-color: rgb(10, 10, 10);
	display: flex;
	flex-direction: column;
}

h1, h2 {
	color: white;
	text-align: center;
	flex-direction: column;
}

#mensajesResultado {
	background-color: rgba(168, 167, 169, 0.12);
	border-radius: 25px;
	width: 90%;
	margin: auto;
}

#empezar-juego {
	background-color: #88ff59;
	padding: 15px;
	font-size: x-large;
	border-radius: 15px;
	display: block;
}

#piedra-papel-tijera {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	flex-direction: column;
}

#nombre-usuario {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 100%;
	transition: border ease-in-out .5s;
	outline: none;
	font-family: "Motiva Sans", Sans-serif;
	cursor: text;
	padding: 1px 2px;
}

#nombre-usuario p {
	padding: 5px;
	display: block;
	width: 100%;
	max-width: 300px;
}

#nombre-usuario button {
	display: block;
	max-width: 300px;
	background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
	box-shadow: 2px 2px 5px rgb(0 0 0/ 20%);
	background-position: 25%;
	background-size: 330% 100%;
	cursor: pointer;
	color: #c3e1f8;
	text-shadow: 1px 1px 0px rgb(0 0 0/ 30%);
	line-height: 30px;
	padding: 10px 30px;
	margin: 15px;
	border-radius: 15px;
	font-size: x-large;
}

#nombre-usuario p input {
	max-width: 300px;
	background: #32353C;
	border-radius: 15px;
	color: #E9E9E9;
	padding: 15px 6px;
	display: block;
	box-shadow: none;
	width: 100%;
	transition: border ease-in-out .5s;
	border: 1px solid #26282D;
	outline: none;
	font-weight: normal;
}

#continuar-o-abandonar {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(168, 167, 169, 0.12);
	padding: 20px;
	border: 0.01px solid #666666;
	border-radius: 25px;
	width: 70%;
	margin: auto;
}

#botones-continuar-abandonar {
	flex-direction: row;
}

#continuar-o-abandonar button {
	max-width: 300px;
	box-shadow: 2px 2px 5px rgb(0 0 0/ 20%);
	background-position: 25%;
	background-size: 330% 100%;
	cursor: pointer;
	color: #c3e1f8;
	text-shadow: 1px 1px 0px rgb(0 0 0/ 30%);
	line-height: 30px;
	padding: 10px 30px;
	margin: 15px;
	border-radius: 15px;
	font-size: x-large;
	margin-top: 40px;
	max-width: 170px;
}

#comenzar-nueva-partida {
	background: #75b022;
	background: linear-gradient(to bottom, #75b022 5%, #588a1b 95%);
}

#abandonar-partida {
	background: #ff1c21;
	background: linear-gradient(to bottom, #ff1c21, #ff4304 95%);
}

#datos-partida {
	display: flex;
	flex-direction: column;
}

#puntaje-total {
	background-color: rgba(168, 167, 169, 0.12);
	padding: 20px;
	border: 0.01px solid #666666;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
}

#estado-rondas, #resumen-partidas-sesion {
	background-color: rgba(168, 167, 169, 0.12);
	padding: 20px;
	border: 0.01px solid #666666;
	border-radius: 25px;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 50%;
}

#separador-aux {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	justify-content: space-around;
	flex-wrap: wrap;
}

#img-container img {
	padding: 7px;
	min-width: auto;
	min-width: auto;
	width: 20vw;
	justify-content: space-evenly;
}

.texto {
	color: white;
	margin-bottom: 0;
	text-align: center;
}

.dataTable button {
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	border: 0.01px solid #666666;
	border-radius: 25px;
	margin-top: 3px;
	background-color: #9ec3ff;
	cursor: pointer;
}

.dataTable thead tr {
	height: 25px;
	margin: 15px;
	padding: 15px;
}

#tabla, #tablaResumen {
	text-align: center;
	margin: auto;
	background-color: rgb(186, 198, 190);
}

thead {
	font-size: 20px;
	border: 1px solid;
	color: black;
}

td, th {
	border: 1px solid;
	border-color: white;
}

td {
	padding: 5px;
}

tbody {
	border: 1px solid;
}

tr:nth-child(even) {
	background-color: rgb(170, 175, 178);
}

th {
	background-color: #7fd668;
	padding: 10px;
}

tr:hover {
	background-color: coral;
}

@media ( max-width : 2560px) {
	#img-container img {
		width: 25vh;
	}
}

@media ( max-width :780px) {
	#img-container img {
		width: 20vh;
	}
	#separador-aux {
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
		margin-left: 5px;
		margin-right: 5px;
		flex-wrap: wrap;
	}
	#estado-rondas, #resumen-partidas-sesion {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 100%;
		margin-top: 20px;
	}
}

@media ( max-width : 720px) {
	.dataTable thead tr {
		height: 15px;
		margin: 5px;
		padding: 5px;
	}
	thead {
		font-size: 15px;
	}
	th {
		padding: 5px;
	}
	.dataTable button {
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 1px;
	}
	#continuar-o-abandonar {
		width: 100%;
	}
}

@media ( max-width : 630px) {
	.dataTable thead tr {
		height: 5px;
		margin: 1px;
		padding: 1px;
	}
	thead {
		font-size: 12px;
	}
	tbody {
		font-size: 10px;
	}
	#img-container img {
		padding: 2px;
		width: 15vh;
	}
}

@media ( max-width : 480px) {
	.dataTable thead tr {
		height: 2px;
		margin: 0;
		padding: 0;
	}
	#img-container img {
		padding: 0;
		width: 12vh;
	}
	#continuar-o-abandonar button {
		max-width: 175px;
		padding: 5px 20px;
		margin: 5px;
		font-size: large;
		margin-top: 20px;
		max-width: 150px;
	}
}